# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
*.egg-info/

# OS
.DS_Store
Thumbs.db

# Logs & Caches
*.log
*.cache/
*.ipynb_checkpoints/

# VSCode/PyCharm
.vscode/
.idea/

# Cerebrium local files (if any)
.cerebrium/
